a:focus {
	outline: none;
}

.FormTitle i {
	color: #ff002f;
	font-style: normal;
}

.SimpleNote {
	padding: 5px 10px;
}

.popup_bar_bg_ks {
	position: fixed;
	margin: auto;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	filter: alpha(opacity=90);
	background-repeat: repeat;
	visibility: hidden;
	overflow: hidden;
	background: rgba(68, 79, 83, 0.85) none repeat scroll 0 0 !important;
	background-position: 0 0;
	background-size: cover;
	opacity: .94;
}

.loadingBarBlock {
	width: 740px;
}

.loading_block_spilt {
	background: #656565;
	height: 1px;
	width: 98%;
}

#wemediamon_main {
	border-width: 0.5px;
}

#wemediamon_bili_ck {
	-webkit-text-security: square;
}

#wemediamon_bili_ck:focus {
	-webkit-text-security: none;
}

#tablets .show {
	font-size: 10pt;
	color: #fff;
	padding: 10px 3.75px;
	border-radius: 5px 5px 0px 0px;
	width: 12%;
	border-left: 1px solid #67767d;
	border-top: 1px solid #67767d;
	border-right: 1px solid #67767d;
	border-bottom: none;
	background: #67767d;
	cursor: pointer;
}

#tablets .show:hover,
.active {
	border: 1px solid #2f3a3e;
	background: #2f3a3e;
}